{% load static %}
{% include "produtos/partials/head.html" %}

<body>
  <div class="container">
    {% include "includes/menu.html" %}

    <main class="content">
      <button class="menu-toggle">&#9776;</button>
      <header>
        <h1>Produtos</h1>
        {% include "produtos/partials/research.html" %}
      </header>
      <section>
        <a href="#novoProdutoModal" class="btn-novo-produto">Novo Produto</a>
        {% include "produtos/partials/tabela.html" %}
      </section>
    </main>
  </div>

    <!-- Modal com :target -->
  <div id="novoProdutoModal" class="modal">
    <div class="modal-content">
      <a href="#" class="modal-close">&times;</a>
      <h2>Novo Produto</h2>
      <form action="/" method="get">
        <!-- {% csrf_token %} se estiver usando Django -->
        <label>Nome:<br><input type="text" name="nome" required></label><br>
        <label>Categoria:<br><input type="text" name="categoria"></label><br>
        <label>Preço:<br><input type="number" name="preco" step="0.01"></label><br>
        <button type="submit">Salvar</button>
      </form>
    </div>
  </div>
</body>

</html>