<div class="table-wrapper">
    <table class="produtos-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ativos</th>
                <th>Reservado</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Código</th>
                <th>Unidade</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Caneta Azul</td>
                <td>12</td>
                <td>3</td>
                <td>R$ 2,50</td>
                <td>Escritorio</td>
                <td>6179179923</td>
                <td>Un</td>
                <td>
                <button class="btn-update">Editar</button>
                <button class="btn-delete">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>