{% load static %}

<aside class="sidebar">
    <img src="{% static "/imgs/logo1.png" %}" class="logo-png">
    <button class="menu-back">&#8592;</button>
    <nav>
        <ul>
            <li><a href="/dashboard"><span>Dashboard</span></a></li>
            <li><a href="/produtos"><span>Produtos</span></a></li>
            <li><a href="/"><span>Categorias</span></a></li>
            <li><a href="/"><span>Relatórios</span></a></li>
            <li><a href="/"><span>Configurações</span></a></li>
        </ul>
    </nav>
    <nav class="usuario">
        <ul>
            <img src="https://avatars.githubusercontent.com/u/56691911?v=4" width="50" height="50" alt="">
            <li><span>Pedro</span></li>
            <li><a href="/"><span>Config</span></a></li>
            <li><a href="/"><span>Sair</span></a></li>
        </ul>
    </nav>
</aside>