{% load static %}

<aside class="sidebar">
    <div class="img-btn-container">
        <img src="{% static logo_path %}" class="logo-png">
        <button class="menu-back">&#8592;</button>
    </div>
    <nav>
        <ul>
            <li><a href="/dashboard"><span>Dashboard</span></a></li>
            <li><a href="/produtos"><span>Produtos</span></a></li>
            <li><a href="/"><span>Categorias</span></a></li>
            <li><a href="/"><span>Relatórios</span></a></li>
            <li><a href="/"><span>Configurações</span></a></li>
        </ul>
    </nav>
    <hr class="divison-menu-line">
    <nav class="usuario">
        <ul>
            <img src="https://avatars.githubusercontent.com/u/56691911?v=4">
            <li><p><span>Pedro</span></p></li>
            <li><button><span>Config</span></button></li>
            <li><button><span>Sair</span></button></li>
        </ul>
    </nav>
</aside>