{% load static %}
{% include "porta_on/partials/dashboard_head.html" %}

<body>
  <div class="container">

    {% include "includes/menu.html" with logo_path="porta_on/imgs/logo1.png" %}

    <main class="content">
      <button class="menu-toggle">&#9776;</button>
      <header>
        <h1>Dashboard</h1>
        {% include "porta_on/partials/research.html" %}
      </header>
      <section>
        {% include "porta_on/partials/cards.html" %}
      </section>
    </main>
  </div>
</body>

</html>

<script src="{% static "/porta_on/js/dashboard.js" %}"></script>