{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include "porta_on/partials/produtos_head.html" %}
</head>

<body>
  <div class="container">
    
    {% include "includes/menu.html" with logo_path="porta_on/imgs/logo1.png" %}

    <main class="content">
      <button class="menu-toggle">&#9776;</button>
      <header>
        <h1>Produtos</h1>
        {% include "porta_on/partials/research.html" %}
      </header>
      <section>
        <a href="#novoProdutoModal" class="btn-novo-produto">Novo Produto</a>
        {% include "porta_on/partials/tabela.html" %}
      </section>
    </main>
  </div>

  {% include "porta_on/partials/modal_produtos.html" %}

</body>

</html>