<aside class="sidebar">
    <img src="" alt="Logo Porta On" class="logo-svg">
    <h2 class="logo">Porta On</h2>
    <nav>
        <ul>
            <li><a href="/"><span>Dashboard</span></a></li>
            <li><a href="/"><span>Produtos</span></a></li>
            <li><a href="/"><span>Categorias</span></a></li>
            <li><a href="/"><span>Relatórios</span></a></li>
            <li><a href="/"><span>Configurações</span></a></li>
        </ul>
    </nav>
    <nav class="usuario">
        <ul>
            <img src="https://avatars.githubusercontent.com/u/56691911?v=4" width="50" height="50" alt="">
            <li><span>Pedro</span></li>
            <li><a href="/"><span>Config</span></a></li>
            <li><a href="/"><span>Sair</span></a></li>
        </ul>
    </nav>
</aside>